<!-- Modal -->
<div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel1">Selecciona Fondo Pantalla</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= form_with url: open_modalback_update_path, model:Screen, method: :post, local:false do |form| %>
            <%= form.hidden_field :id,value:@device.id %>
           <div>
    <%= form.file_field :background, class:'form-control' %>
  </div>
  <div>
    <%= form.submit "Guardar", class:'btn btn-primary mt-2' %>
  </div>           
        <% end %>
      </div>
    </div>
  </div>
</div>