 <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-lg-flex flex-lg-column justify-content-center align-items-stretch pt-5 pt-lg-0 order-2 order-lg-1" data-aos="fade-up">
          <div>
            <h1>Dispositivos de Medición Inalámbricos</h1>
            <h2>La transformación digital de las empresas esta ocurriendo aquí y ahora, no permitas que tu empresa se quede atrapada en el pasado llenando registros en papel que no permiten medir, controlar y mucho menos mejorar tu negocio automatiza tu negocio con nuestra solución cloud. </h2>
            <div class="text-center">
              <a href="#" class="download-btn"><i class="bx bx-mail-send"></i>Conctáctanos</a>
              <a href="#" class="download-btn"><i class="bx bx-video"></i>Demo</a>
            </div>
          </div>
        </div>
        <div class="col-lg-6 d-lg-flex flex-lg-column align-items-stretch order-1 order-lg-2 hero-img" data-aos="fade-up">
          <%= image_tag 'hero-img-1',class:'img-fluid' %>
        </div>
      </div>
    </div>

  </section><!-- End Hero -->