<%= form_with(model: temp_device) do |form| %>
  <% if temp_device.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(temp_device.errors.count, "error") %> prohibited this temp_device from being saved:</h2>

      <ul>
        <% temp_device.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
