<%= form_with(model: temp_datum) do |form| %>
  <% if temp_datum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(temp_datum.errors.count, "error") %> prohibited this temp_datum from being saved:</h2>

      <ul>
        <% temp_datum.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
